@using MvcStok.Models.Entity
@model List<Table_urun>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>SİL</th>
        <th>Güncelle</th>
    </tr>
    </tr>
    <tbody>
        @foreach(var urn in Model)
            {
                <tr>
                    <td>@urn.UrunId</td>
                    <td>@urn.UrunAd</td>
                    <td>@urn.Marka</td>
                    <td>@urn.Table_kategori.KategoriAd</td>
                    <td>@urn.Fıyat</td>
                    <td>@urn.Stok</td>
                    <td><a href="/Ürün/Sil/@urn.UrunId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Ürün/UrunGetir/@urn.UrunId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
    </tbody>
</table>

<a href="/Ürün/UrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>